body {
  background-color: black;
}
.mobile-button {
	  border: 3px solid;
  border-color: transparent;
}

.whitesmoke {
	color: whitesmoke;
}
.black{
	background-color: black;
}

.backwhitesmoke {
	background-color: whitesmoke;
}
.tangerine {
  font-family: 'Tangerine', serif;
  font-size: 48px;
  text-shadow: 4px 4px 4px #aaa;
}

.kaushan {
  font-family: 'Kaushan Script', serif;
}

.name-pos {
	position: relative;
  top: 0em;
}

.nav-right {
  position: absolute;
  right: 4em;
}
